.sort-btn {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
}

.sorted-asc::after {
    content: " ↑";
}

.sorted-desc::after {
    content: " ↓";
}
.tooltip {
    max-width: 150px; /* Set a maximum width for the tooltip */
    font-size: 0.6rem; /* Adjust font size as needed */
    padding: 5px; /* Add some padding */
}