.sort-btn {
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
}

.sorted-asc::after {
    content: " ↑";
}

.sorted-desc::after {
    content: " ↓";
}
.tooltip {
    max-width: 150px;
    font-size: 0.6rem;
    padding: 5px;
}